img {
    max-height: 500rem;
}

.card{
    align-items: center;
    display: inline-block;
    margin: 1rem;
}
.container{
    margin-bottom: 5rem;
}

.btn-body{
    text-align: center;
}


.btn-body a{
    padding: 0 30%;
    font-size: 1rem;
}