#imgUser{
    width: 35px;
    height: 35px;
}

.navbar-collapse {
    flex-grow: inherit;
    align-items: center;
}
.text-icon{
    display: flex;
    align-items: center;
    margin: 0;
}
h1{
    margin: 0;
}
.hit-the-floor {
    font-size: 2.5vw;
}